/*cuerpo*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    
}


body {
    font-family: sans-serif;
    font-size: 1.2rem;
    min-height :100%;
}
/*header*/
header{
    grid-area: header;
    background-image:url(../imagenes/header.jpg) ;
    background-repeat: no-repeat;  
  background-size: 100% 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    border-radius: 25px;
    border: 5px solid black;
    text-align: center;
   
    
}

.logo{display: flex;
    justify-content: start;
    width: 10vw;
    height: 10vw;
    border: 2px solid black;
border-radius: 4VW;

}
h1{
    color: black;
    text-align: center;
}
/*barra de tareas*/

.navbar{
    grid-area: navbar1;
    
    
}
ol{font-weight: bold;

font-size: 20px;
}
.barra{
    background: rgb(157, 158, 214);
    padding: 1vw;
}
.barra a {
    text-decoration: none;
    background: black;
    border-radius: 1vw;
    padding: 5px;
    margin: 2vw;
    color: white;
}
/*main */

.main {
    grid-area: main;
    background-color: white;
    
}

.video{
    height: 100%;
    width: 100%;
    border-radius: 3vw;
}
.fotoAero{
    
    height: 18vw;
    width: 20vw;
    border: 2px solid violet;
    border-radius: 3vw;
    
    margin: 10px;
}
p{
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(11, 12, 11);
}
.simu{
    display: flex;
    justify-content: center;
    border: 2px solid violet;
    border-radius: 3vw;
    margin-left: 20vw;
    margin-right: 20vw;
    height: 35vw;
    width: 45vw;
}

footer{
    background: rgb(157, 158, 214);
    border: 5px solid black;
    
    padding: 25px;
}
/*pie de pagina*/

.footer {
    grid-area: footer;
    background-color: rgb(178, 178, 231);

}
.lofoo{
    height:2vw;
     width: 2vw;
     border-radius: 5px;
}



/*grid y media query*/

.gridContainer {
    box-shadow : -1px 1px 7px 0px black (0, 0 0, 0,75);
    border-radius: 4px;
    padding : 10px;
    text-align : center;
}


.gridContainer {
    display: grid;
    gap: 10px;
    grid-template-areas:
    "header"
    "navbar1"
    "main"
    "footer";
}
 
@media (min-width : 600px) {
.gridContainer {
    grid-template-areas:
    "header header"
    "navbar1 navbar1"
    "main main"
    "footer footer";

}
    }

    @media (min-width : 900px) {
        .gridContainer {
            grid-template-areas:
            "header header header"
            "navbar1 navbar1 navbar1"
            "main main main"
            "footer footer footer";
        
        }
            }
        