/*footer*/


footer {
    grid-area: footer;
    background-color: rgb(178, 178, 231);
    border: 5px solid black;
    padding: 25px;
    lofoo{
        height:2vw;
         width: 2vw;
         border-radius: 5px;
    
    }
}

      